body{
  margin: 5em;
}

nav>ul{
  border-bottom: solid black 0.1em;
}
ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type:none;
  font-weight: bold;
}

main{
  padding-top: 2em;
  border-bottom: solid black 0.3em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  font-style: italic;
  color: gray;
}

h1{
  border-bottom: solid black 0.15em;
}
img{
  width: 15px;
  height: 15px;
}
